// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import './icons/icons.css';
@import './icons/animation.css';

// Variables
@import 'variables';
@import "normalize";


// reset

*{
  box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

a{
  color: #000;
}

html{
  height: 100vh;
  overflow: hidden;
}

body{
  background: $body-bg;
  color: $gray;
  font-size: 14px;
  overflow: hidden;
}

// mixins
@mixin phone{
  @content
}

@mixin tablet{
  @media (min-width: $media-sm){ @content }
}

@mixin tablet-land{
  @media (min-width: $media-md){ @content }
}

@mixin desktop{
  @media (min-width: $media-lg){ @content }
}

// app

.button{
  background: $indigo;
  color: $white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px;
  transition: background 0.3s;

  &:hover{
    background: $cyan;
  }

  &.disabled{
    cursor: not-allowed;
  }

}

.workspace{
  height: 100vh;

  & > .map{
    height: 100%;
  }
}

.sidebar{
  display: flex;
  flex-direction: column;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  transform: translateX(100%);
  transition: transform 0.5s;
  padding: 10px;

  @include tablet{
    width: 400px;
  }

  &.sidebar_opened{
    transform: translateX(0);
  }

  .toggle-button{
    font-size: 21px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 50px;
    transform: translateX(-100%) translateY(-50%);
  }

  .sidebar-header{
    flex-shrink: 0;
  }

  .sidebar-body{
    position: relative;
    flex-grow: 1;
  }
}

.search-panel{
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 10px;
  align-content: center;

  .input{
    flex-grow: 1;
    border: 0;
    background: #f5f1f6;
    padding: 10px 15px;
    color: $gray;
    width: 100%;
    margin-bottom: 10px;
  }

  .button{
    width: 100%;
    display: block;
  }
}

.tweets-feed{
  .tweet{

    .text{
      margin-bottom: 5px;
    }

    .created{
      font-size: 10px;
      color: darkgray;
    }

    &:not(:last-child){
      margin-bottom: 15px;
    }
  }

}

.scroll-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

